<div class="step" id="{{ article.id }}"

     {% if article.x %}data-x="{{ article.x }}"{% endif %}
     {% if article.y %}data-y="{{ article.y }}"{% endif %}
     {% if article.z %}data-z="{{ article.z }}"{% endif %}

	{% if article.rotateX %}data-rotate-x="{{ article.rotateX }}"{% endif %}
	{% if article.rotateY %}data-rotate-y="{{ article.rotateY }}"{% endif %}
	{% if article.rotateZ %}data-rotate-z="{{ article.rotateZ }}"{% endif %}
>
	{{ article.renderContent() | raw }}
</div>